*{
    padding: 0;
    margin: 0;
}
a{
    color: #1f9bcf;
    &:hover{
        color: #333;
    }
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;

}

header {
    overflow: hidden;
    background-color: #e5e5e5;
    padding: 20px;

    .logo {
        float: left;
        font-size: 18px;
    }

    .menu {
        float: right;

        ul {
            list-style: none;
            margin-top: 0;

            li {
                float: left;
                margin-left: 10px;

                a {
                   
                    font-size: 18px;

                }
            }
        }
    }
}

main {
    padding: 15px 20px;
    overflow: hidden;
    clear: both;
    .page-title{
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
        margin-bottom: 40px;
    }

    .content-wrap {
        width: 66.66666667%;
        float: left;

        .blog-wrap {
            padding: 0 20px;

            .blog-item {
                border-bottom: 1px solid #e5e5e5;;
                padding-bottom: 15px;
                margin-bottom:  25px;
                h2 {
                    margin-bottom: 15px;;
                }

                .date {
                    margin-bottom: 3px;
                }

                p {}
                &:last-child{
                    border-bottom: 0;
                }
               
            }
        }

    }

    .sidebar {
        width: 33.33333333%;
        float: left;
        background-color: #e5e5e5;

        .widget {
            // width: 25%;
            // float: left;
            overflow: hidden;
            clear: both;
            padding:15px 20px;
            border-bottom: 1px solid #333;
            margin-bottom: 0px;


            h2 {}

            ul {
                padding:0;
                margin:0;
                li {
                    list-style:none;
                    a {
                        margin-bottom: 5px;
                        display: block;
                    }
                }
            }
            &:last-child{
                border-bottom: 0;
            }
        }
    }
}

footer {
    padding: 15px 20px;
    overflow: hidden;
    clear: both;
    background: #e5e5e5;
    .footer-top {
        overflow: hidden;
        clear: both;

        .footer-widget {
            width: 25%;
            float: left;
            overflow: hidden;
            .widget-inner {
                padding-left: 10px;
                padding-right: 10px;
                overflow: hidden;
                h2 {
                    border-bottom: 1px solid #202124;
                    padding-bottom: 15px;
                    margin-bottom: 20px;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style:none;
                        padding: 0;
                        a {
                            margin-bottom: 5px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        overflow: hidden;
        clear: both;
        text-align: center;
        padding: 15px 0;
    }
}



.container{
    margin:0 auto;
    width: 100%;
}



  @media (min-width: 576px) {
    .container {
        max-width: 540px;
        main {
            .content-wrap{
                width: 100%;
                float: none;
            }
            .sidebar{
                width: 100%;
                float: none;
            }
    
        }
        footer{
            .footer-top{
                .footer-widget{
                    width: 100%;
                    margin-top: 20px;
                }
    
            }
        }
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}




 @media (max-width: 767px) {
        main {
            .content-wrap{
                width: 100%;
                float: none;
            }
            .sidebar{
                width: 100%;
                float: none;
            }
    
        }
        footer{
            .footer-top{
                .footer-widget{
                    width: 100%;
                    margin-top: 20px;
                }
    
            }
        }
}