* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 2rem;
}

.section {

}

.container {
    padding: 4rem 3rem;
}

.container h2,
.container p {
    margin-bottom: 1rem;
}

.bottom-arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: rotate(90deg);
    font-size: 2rem;
    font-weight: bold;
    color: red;
    animation: bounch 2s infinite;
}

/* The animation code */
@keyframes bounch {
    0% {
        bottom: 10px;
    }

    100% {
        bottom: 50px;
    }
}

.img1,
.img2,
.img3,
.img4 {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

    align-items: center;
    display: flex;
    justify-content: center;
}

.img1 {
    background-image: url(../images/image1.jpg);
}

.img2 {
    background-image: url(../images/image2.jpg);
}

.img3 {
    background-image: url(../images/image3.jpg);
}

.img4 {
    background-image: url(../images/image4.jpg);
}

.title {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #fff;
}